<div class="modal-dialog">
<div class="jumbotron" id="home">
<h3>Edit Album</h3>
  <div class="modal-content">

<p>
<%=form_for :album, :url => user_album_path, :method => :put do |f| %>
<div class="modal-body">
<div class="input-group">
<%= f.text_field :name, placeholder: "Album Name", class: "form-control" %></div><br>
<div class="modal-footer">
	<div class="btn-group btn-group-justified" role="group">
	<div class="btn-group" role="group">
	<%= f.submit :submit, class: "btn btn-success btn-lg"%>
	</div>
	<div class="btn-group">
	<%= link_to "Cancel", :back, class: "btn btn-warning btn-lg"%>
	</div>
	</div>
</div>
</div>
<%end%>
</p>
</div>
</div>
</div>
</div>